.theme-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 7px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 10px 28px -18px rgba(0, 0, 0, 0.75);
  transition: filter 0.2s;
}

.theme-btn:hover {
  filter: brightness(0.9);
}

body {
  transition: background-color 0.5s;
}
